<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <title>Herent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <meta name="description" content="Herent">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/Content/images/herent.png" type="image/x-icon" />
    <link rel="icon" href="~/Content/images/favicon.png" type="image/x-icon" />
    <!-- END Icons -->
    @Styles.Render("~/Content/bootstrap", "~/Content/main")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-top-herent navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-herent"><img src="~/Content/images/herent.png" style="" /></a>
            <a class="navbar-brand"><img src="~/Content/images/herent-tm.png" style="margin-top: 14px; margin-left: 5px;" /></a>
        </div>

        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li> @Html.ActionLink("Broadcast View", "index", "home", null, new { @class = "main-link main-link-selected selectable" }) </li>
            @*<li> @Html.ActionLink("Project View", "index", "project", null, new { @class = "main-link selectable" })  </li>*@
            @*<li> @Html.ActionLink("Admin View", "index", "admin", null, new { @class = "main-link selectable last" }) </li>*@
            @*<li>
                <a id="broadcast-view-link" class="main-link selectable">Broadcast View</a>
            </li>*@
            <li>
                <a id="project-view-link" class="main-link selectable">Project View</a>
            </li>
            <li>
                <a id="admin-view-link" class="main-link selectable last">Admin View</a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    John Doe<i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="~/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown -->
            <li>
                <a><img src="~/Content/images/john.png" /></a>
            </li>
            <li>
                <a href="~/Help"><img src="~/Content/images/help.png" /></a>
            </li>
            <li>
                <a href="~/Search"><img src="~/Content/images/search.png" /></a>
            </li>
        </ul>
        <!-- /.navbar-top-links -->
        <div class="sidebar-herent sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="@Href("~/index.html")"><img src="~/Content/images/button-clock.png" /></a>
                    </li>
                    <li>
                        <a href="@Href("~/Broadcast")"><img src="~/Content/images/button-broadcast.png" /></a>
                        <ul class="drop-down">
                            <li id="box-todo-menu" class="box-opened">
                                <a><img class="box-selected-img" /></a>
                                <a onclick="doShow('#box-todo')">To Do</a>
                            </li>
                            <li id="box-issues-menu" class="box-opened">
                                <a><img class="box-selected-img" /></a>
                                <a onclick="doShow('#box-issues')">Issues and Risks</a>
                            </li>
                            <li id="box-approvals-menu" class="box-opened">
                                <a><img class="box-selected-img" /></a>
                                <a class="widget-menu-item" data-widget="box-approvals">Approvals</a>
                            </li>
                            <li id="box-activity-menu" class="box-opened">
                                <a><img class="box-selected-img" /></a>
                                <a onclick="doShow('#box-activity')">Activity Stream</a>
                            </li>
                            <li id="box-tracking-menu">
                                <a><img class="box-selected-img" /></a>
                                <a href="#">Project Tracking</a>
                            </li>
                            <li id="box-today-menu">
                                <a><img class="box-selected-img" /></a>
                                <a href="#">Due Today</a>
                            </li>
                            <li id="box-conflicts-menu"> 
                                <a><img class="box-selected-img" /></a>
                                <a href="#">Conflicts</a>
                            </li>
                            <li id="box-workload-menu">
                                <a><img class="box-selected-img" /></a>
                                <a href="#">Team Workload</a>
                            </li>
                            <li id="box-overdue-menu" class="box-opened">
                                <a><img class="box-selected-img" /></a>
                                <a onclick="doShow('#box-overdue')">Overdue</a>
                            </li>
                            <li id="box-assigned-menu">
                                <a><img class="box-selected-img" /></a>
                                <a href="#">Tasks Assigned</a>
                            </li>
                            <li id="box-discussions-menu">
                                <a><img class="box-selected-img" /></a>
                                <a href="#">My Discussions</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Href("~/index.html")"><img src="~/Content/images/button-dashboard.png" /></a>
                    </li>
                    <li>
                        <a href="@Href("~/index.html")"><img src="~/Content/images/button-calendar.png" /></a>
                    </li>
                    <li>
                        <a href="@Href("~/index.html")"><img src="~/Content/images/button-issue.png" /></a>
                    </li>
                    <li>
                        <a href="@Href("~/index.html")"><img src="~/Content/images/button-resources.png" /></a>
                    </li>
                    <li id="financial-view">
                        <a href="#"><img src="~/Content/images/button-financial.png" /></a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
    </nav>
    <!-- /.navbar-static-side -->
    <div id="main-content">
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/dashboard", "~/bundles/app")

@RenderSection("scripts", required: false)

<script inline="javascript">

    var gridster;

    $(function () { //DOM Ready
        refreshGridster();
    });

    //$(window).resize(function () {
    //    refreshGridster()
    //});

    function refreshGridster() {
        var width = ($(window).width() - 115) / 3;
        var height = ($(window).height() - 85) / 2;

        gridster = $(".gridster").gridster({
            widget_margins: [2, 2],
            widget_base_dimensions: [width, height],
            widget_selector: ".box",
            max_cols: 3,
            min_cols: 3
        }).data('gridster');

        // Update Height of box-content
        $(".box-container").css({"height": height-42});
        $(".box-container-large").css({ "height": (2 * height) - 42 });
        $("#page-wrapper").css({ "max-height": height });

        var widgets = [
                  [$('#box-todo').prop('outerHTML'), 1, 1, 1, 1],
                  [$('#box-issues').prop('outerHTML'), 1, 1, 2, 1],
                  [$('#box-approvals').prop('outerHTML'), 1, 1, 2, 2],
                  [$('#box-overdue').prop('outerHTML'), 1, 1, 1, 2],
                  [$('#box-activity').prop('outerHTML'), 1, 2, 3, 1]
        ];

        if (gridster != null) {
            $.each(widgets, function (i, widget) {
                gridster.add_widget.apply(gridster, widget)
            });
        }
    }

    function doClose(box) {
        gridster.remove_widget($(box));
        $(box + "-menu").toggleClass("box-opened");
    }

    function doShow(box) {
        if ($(box).is(":visible"))
            return;
        $(box).attr("visibility", "visible");
        gridster.add_widget($(box).prop('outerHTML'),
                           $(box).data('sizex'),
                           $(box).data('sizey'),
                           $(box).data('col'),
                           $(box).data('row')
                           
                           );
        $(box + "-menu").toggleClass("box-opened");
    }

    function doResizeBox(box) {
        $(box).attr("visibility", "visible");
        if ($(box).hasClass("box-maximized")) {
            $('#box-group-multiple').prepend($(box));
        } else {
            $('#box-group-single').append($(box));
            $(box).height($);
        }
        $(box).toggleClass("box-maximized");
        $('#box-group-single').toggle();
        $('#box-group-multiple').toggle();
    }

</script>

</body>


</html>


