<div class="box box-closed box-large box-column" id="box-activity" data-row="1" data-col="3" data-sizex="1" data-sizey="2">
    <h4 class="box-header round-top">
        Activity Stream
        <a class="box-btn" title="close" onclick="doClose('#box-activity');">
            <img href=" #" src="~/Content/images/box-close-icon.png" />
        </a>
        <a class="box-btn" title="maximize" onclick="doResizeBox('#box-activity');">
            <img href=" #" src="~/Content/images/box-max-icon.png" />
        </a>
        <a class="box-btn" title="sort">
            <img href="#" src="~/Content/images/box-min-icon.png" />
        </a>
    </h4>
    <div class="box-container box-container-large">
        <div class="box-content">
            <div id="dashboard-activity-stream">
                <ul class="box-item-list">
                    <li class="box-item box-item-tasks">
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container">
                            <tr>
                                <td>
                                    <input class="comment-input" type="text" placeholder="Write a comment">
                                    <img src="~/Content/images/broadcast-plus.png">
                                </td>
                            </tr>
                        </table>

                    </li>
                    <li class="box-item box-item-tasks">
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container text-center">
                            <tr>
                                <td>
                                    <button class="show-more" type="button">Show more updates</button>
                                </td>
                            </tr>
                        </table>
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container">
                            <tr>
                                <td>
                                    <input class="comment-input" type="text" placeholder="Write a comment">
                                    <img src="~/Content/images/broadcast-plus.png">
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="box-item box-item-tasks">
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container text-center">
                            <tr>
                                <td>
                                    <button class="show-more" type="button">Show more updates</button>
                                </td>
                            </tr>
                        </table>
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container text-center">
                            <tr>
                                <td>
                                    <button class="show-more" type="button">Show more updates</button>
                                </td>
                            </tr>
                        </table>
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container">
                            <tr>
                                <td>
                                    <input class="comment-input" type="text" placeholder="Write a comment">
                                    <img src="~/Content/images/broadcast-plus.png">
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="box-item box-item-tasks">
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container">
                            <tr>
                                <td>
                                    <input class="comment-input" type="text" placeholder="Write a comment">
                                    <img src="~/Content/images/broadcast-plus.png">
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="box-item box-item-tasks">
                        <a class="noeffect" href="#">
                            <table>
                                <tr>
                                    <td>
                                        <img src="~/Content/images/john-avatar.png" />
                                    </td>
                                    <td>
                                        <div class="activity-stream-info">
                                            <span class="title">john:</span>
                                            <span class="activity">Assigned Task</span>
                                            <span class="name">Launch of new website scheduled assigned to</span>
                                            <span class="assigned">you + Leon, 15:00pm</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                        <table class="comment-container">
                            <tr>
                                <td>
                                    <input class="comment-input" type="text" placeholder="Write a comment">
                                    <img src="~/Content/images/broadcast-plus.png">
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>