<div class="box box-closed box-normal box-column" id="box-approvals" data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    <h4 class="box-header round-top">
        Approvals
        <a class="box-btn box-btn-close" data-widget="box-approvals" title="close">
            <img href="#" src="/Content/images/box-close-icon.png" />
        </a>
        <a class="box-btn box-btn-resize" data-widget="box-approvals" title="resize">
            <img href=" #" src="/Content/images/box-max-icon.png" />
        </a>
        <a class="box-btn box-btn-minimize" data-widget="box-approvals" title="minimize">
            <img href="#" src="/Content/images/box-min-icon.png" />
        </a>
    </h4>
    <div class="box-container">
        <div class="box-content">
            <div id="dashboard-approvals">
                <ul class="box-item-list">
                    <li class="box-item-section">
                        <span class="name">Awaiting</span>
                    </li>
                    <div id="projects-awaiting-container">
                    </div>
                    <li class="box-item-section">
                        <span class="name">Approved</span>
                    </li>
                    <div id="projects-approved-container">
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>