<div class="box box-closed box-normal box-column" id="box-issues" data-row="2" data-col="1" data-sizex="1" data-sizey="1">
    <h4 class="box-header round-top">
        Issues and Risks
        <a class="box-btn" title="close" onclick="doClose('#box-issues');">
            <img href=" #" src="~/Content/images/box-close-icon.png" />
        </a>
        <a class="box-btn" title="maximize" onclick="doResizeBox('#box-issues');">
            <img href=" #" src="~/Content/images/box-max-icon.png" />
        </a>
        <a class="box-btn" title="sort">
            <img href="#" src="~/Content/images/box-min-icon.png" />
        </a>
    </h4>
    <div class="box-container">
        <div class="box-content">
            <div id="dashboard-issues-risks">
                <ul class="box-item-list">
                    <li class="box-item-section">
                        <span class="name">Today</span>
                    </li>
                    <li class="box-item box-item-issues">
                        <a class="noeffect" href="#">
                            <span class="title">A test issue for Jack -</span>
                            <span class="name issue-name-owner">Jack Shephard</span><br />
                            <span class="name">Resource</span><br />
                            <span class="name">Severity</span><br />
                            <span class="name">Assign Date</span>
                        </a>
                    </li>
                    <li class="box-item box-item-issues">
                        <a class="noeffect" href="#">
                            <span class="title">A test issue for Jack -</span>
                            <span class="name issue-name-owner">Jack Shephard</span><br />
                            <span class="name">Resource</span><br />
                            <span class="name">Severity</span><br />
                            <span class="name">Assign Date</span>
                        </a>
                    </li>
                    <li class="box-item box-item-issues">
                        <a class="noeffect" href="#">
                            <span class="title">A test issue for Jack -</span>
                            <span class="name issue-name-owner">Jack Shephard</span><br />
                            <span class="name">Resource</span><br />
                            <span class="name">Severity</span><br />
                            <span class="name">Assign Date</span>
                        </a>
                    </li>
                    <li class="box-item box-item-issues">
                        <a class="noeffect" href="#">
                            <span class="title">A test issue for Jack -</span>
                            <span class="name issue-name-owner">Jack Shephard</span><br />
                            <span class="name">Resource</span><br />
                            <span class="name">Severity</span><br />
                            <span class="name">Assign Date</span>
                        </a>
                    </li>
                    <li class="box-item box-item-issues">
                        <a class="noeffect" href="#">
                            <span class="title">A test issue for Jack -</span>
                            <span class="name issue-name-owner">Jack Shephard</span><br />
                            <span class="name">Resource</span><br />
                            <span class="name">Severity</span><br />
                            <span class="name">Assign Date</span>
                        </a>
                    </li>
                    <li class="box-item box-item-issues">
                        <a class="noeffect" href="#">
                            <span class="title">A test issue for Jack -</span>
                            <span class="name issue-name-owner">Jack Shephard</span><br />
                            <span class="name">Resource</span><br />
                            <span class="name">Severity</span><br />
                            <span class="name">Assign Date</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>