<div class="box box-closed box-normal box-column" id="box-overdue" data-row=" 1" data-col="2" data-sizex="1" data-sizey="1">
    <h4 class="box-header round-top">
        Overdue
        <a class="box-btn" title="close" onclick="doClose('#box-overdue');">
            <img href="#" src="~/Content/images/box-close-icon.png" />
        </a>
        <a class="box-btn" title="maximize" onclick="doResizeBox('#box-overdue');">
            <img href=" #" src="~/Content/images/box-max-icon.png" />
        </a>
        <a class="box-btn" title="sort">
            <img href="#" src="~/Content/images/box-min-icon.png" />
        </a>
    </h4>
    <div class="box-container">
        <div class="box-content">
            <div id="dashboard-overdue">
                <ul class="box-item-list">
                    <li class="box-item-section">
                        <span class="name">Today</span>
                    </li>
                    <div id="projects-due-today-container">

                    </div>
                    <!--
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 1</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 2</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    -->
                    <li class="box-item-section">
                        <span class="name">This Week</span>
                    </li>
                    <div id="projects-due-thisweek-container">

                    </div>
                    <!--
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 3</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 4</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 4</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 5</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 6</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 7</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    <li class="box-item">
                        <a class="noeffect" href="#">
                            <span class="title">Project 8</span><br />
                            <img src="~/Content/images/image-close.png">
                            <span class="name">Wire Frame for project management dashboard</span>
                        </a>
                    </li>
                    -->
                </ul>

            </div>
        </div>
    </div>
</div>