/*--[By-SRJ]--*/
.offset-top-5 {
	margin-top: 5px;
}
.offset-top-10 {
	margin-top: 10px;
}
.offset-top-15 {
	margin-top: 15px;
}
.offset-top-20 {
	margin-top: 20px;
}
.offset-top-25 {
	margin-top: 25px;
}
.offset-top-30 {
	margin-top: 30px;
}
.offset-top-35 {
	margin-top: 35px;
}
.offset-top-40 {
	margin-top: 40px;
}
.offset-top-45 {
	margin-top: 45px;
}
.offset-top-50 {
	margin-top: 50px;
}
.offset-top-60 {
	margin-top: 60px;
}
.offset-top-70 {
	margin-top: 70px;
}
.offset-bot-5 {
	margin-bottom: 5px;
}
.offset-bot-10 {
	margin-bottom: 10px;
}
.offset-bot-15 {
	margin-bottom: 15px;
}
.offset-bot-20 {
	margin-bottom: 20px;
}
.offset-bot-25 {
	margin-bottom: 25px;
}
.offset-bot-30 {
	margin-bottom: 30px;
}
.offset-bot-35 {
	margin-bottom: 35px;
}
.offset-bot-40 {
	margin-bottom: 40px;
}
.offset-bot-45 {
	margin-bottom: 45px;
}
.offset-bot-50 {
	margin-bottom: 50px;
}
.offset-bot-60 {
	margin-bottom: 60px;
}
.offset-bot-70 {
	margin-bottom: 70px;
}
/*body {
	font-family: 'Open Sans', sans-serif;
	background: #58595b;
	padding-top:70px;
}*/
textarea {
	resize: vertical;
	min-height: 70px;
}
a:hover, a:focus {
	text-decoration: none;
}
.clean {
	margin: 0 !important;
	padding: 0 !important;
}
.nomargin {
	margin: 0 !important;
}
.nopadding {
	padding: 0 !important;
}
.listStyNone {
	list-style-type: none !important;
}
header {
	background: #213250;
	min-height: 70px;
	border-top: 1px solid #2e3d54;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:3;
	box-shadow: 0 4px 3px #444;
	-webkit-box-shadow: 0 4px 3px #444;
	-moz-box-shadow: 0 4px 3px #444;
	-o-box-shadow: 0 4px 3px #444;
}
.logo {
	margin: 13px 0;
}
.logo img {
	height: 42px;
}
.headerRight {
	float: right;
}
.headerNav li, .headerNavRt li {
	float: left;
}
.headerNav li a, .headerNavRt li a {
	color: #ffffff;
	font-size: 15px;
	padding: 24px 10px;
	display: block;
	position: relative;
}
.headerNav li a:hover {
	text-decoration: none;
	background: #183b78;
}
.headerNav li.active a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 8px;
	width: 100%;
	background: #33bdfc;
}
.headerNavRt li {
	float: left;
}
.headerNavRt li:last-child a {
	padding-right: 0;
}
.headerNav {
	float: left;
	margin-right: 100px;
}
.headerNavRt {
	float: left;
}
.userPic {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.headerNavRt .userPicLi a {
	padding: 12px 10px;
}
.headerNavRt .fa {
	font-size: 21px;
}
.userDrodwn {
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 0;
	background: #ffffff;
}
.userDrodwn li {
	float: none;
}
.userDrodwn li a {
	padding: 6px 12px;
	color: #444444;
	font-size: 13px;
}
.userDrodwn li .fa {
	font-size: 13px;
}
.userDrodwn li a:hover {
	background: #266dbb;
	color: #ffffff;
}
.leftMenuPanel {
	background: #808185;
	width: 70px;
	height: 100%;
	position: fixed;
	left: 0;
	border-right: 2px solid #444444;
	box-shadow: 2px 0 2px #444444;
	-webkit-box-shadow: 2px 0 2px #444444;
	-moz-box-shadow: 2px 0 2px #444444;
	-o-box-shadow: 2px 0 2px #444444;
}
.leftMenuPanel li a {
	text-align: center;
	line-height: 56px;
	border-bottom: 2px solid #737478;
	display: block;
}
.leftMenuPanel li {
	position: relative;
}
.leftMenuPanel li > a:hover, .leftMenuPanel li.active > a {
	background: #33bdfc;
}
.leftMenuPanel li:hover .subMenuPanel {
	display: block;
}
.subMenuPanel {
	position: absolute;
	left: 100%;
	top: 0;
	display: none;
	z-index: 1;
	background: #a0a0a2;
	box-shadow: 4px 4px 4px #444444;
	-webkit-box-shadow: 4px 4px 4px #444444;
	-moz-box-shadow: 4px 4px 4px #444444;
	-o-box-shadow: 4px 4px 4px #444444;
}
.subMenuPanel li a {
	white-space: nowrap;
	padding: 6px 26px;
	color: #ffffff;
	text-align: left;
	line-height: normal;
	border: none;
}
.rightSectionPanel {
	padding: 12px 5px 55px 75px;
}
.rightSectionPanel .container-fluid{
	padding-left:5px;
	padding-right:5px;
}
.row{
	margin-left:-5px;
	margin-right:-5px;	
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left:5px;
	padding-right:5px;
}
.blueCir{
	background: #3391f8 none repeat scroll 0 0;
	color: #ffffff;
	font-size: 14px !important;
	height: 23px;
	line-height: 25px !important;
	text-align: center;
	width: 23px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.blueCirBtn{
	color:#9b9b9d;
}
.grayBtn{
	color:#9b9b9d;
}
body .table th{
	font-weight:600;
	color:#6c6d6f;
}
.thBtn {
	background: #6c6d6f none repeat scroll 0 0;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	width: 18px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
/*.table-striped > tbody > tr:nth-child(2n+1){
	background:#f4fdff;
}*/
.cstmTable tr{
	border-bottom:1px solid #eee;
	position:relative;
	background:url(../Content/images/trFlip.png) no-repeat right top;
}
.cstmTable tbody > tr:after{
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid #cccccc;
	content: "";
	position: absolute;
	right: 0;
	top:10px;
}
.cstmTable > tbody > tr:hover{
	background:url(../Content/images/trFlip.png) no-repeat right top #33bbfa !important;
}
.cstmTable > tbody > tr:hover td{
	color:#ffffff;
}
.cstmTable > tbody > tr:hover:after{
	content:url(../Content/images/trHov.png);
	top:0;
	border:none;
}
.cstmTable > tbody > tr:hover .crle{
	color:#33bbfa !important;
	background:#ffffff;
}
.cstmTableOnlHov > tbody > tr:hover{
	background:#33bbfa !important;
}
.cstmTableOnlHov > tbody > tr:hover td{
	color:#ffffff;
}
.resourcesTable tr{
	border-bottom:1px solid #eeeeee;
}
.resoursesTablDiv{
	max-height:310px;
	min-height:310px;
	overflow:auto;
	padding:0 10px;
}
.taskAwaitResors .heading{
	background:#b3b3b5;
	padding:4px 10px;
	color:#ffffff;
}
.taskAwaitResorsInn{
	padding:10px 10px;
	color:#707d7d;
}
.taskNo{
	margin-right:6px;
}
.blueFlipBtn{
	background: #3391f9;
	border-radius: 0;
	color: #ffffff;
	min-width: 102px;
	padding: 9px 12px;
	position:relative;
	border:none;
}
.blueFlipBtn:hover,.blueFlipBtn:focus{
	color:#ffffff;
}
.blueFlipBtn:after{
	content:url(../Content/images/flipBtnCorn.png);
	position:absolute;
	right:0;
	top:0;
}
.tableTrLine tr{
	border-bottom:1px solid #eeeeee;
}
.flipBtn{
	position:relative;
}
.flipBtnMenu{
	background: #f1f1f3;
	border-radius: 0;
	border:none;
	left: auto;
	padding: 5px;
	right: 28%;
	position:absolute;
	z-index:1;
	min-width:180px;
    text-align: left;
}
.flipBtnMenu:after{
	border-bottom: 8px solid #f1f1f3;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: 100%;
	content: "";
	position: absolute;
	right: 8%;
}
.resUserPic{
	width:50px;
	height:50px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.resourcesTop .media-body{
	display:block;
	font-size:18px;
	color:#6d6e70;
	font-weight:600;
	line-height:50px;
}
.resourcesTop{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #eeeeee;
}
.cate-sec{
	position:relative;
}
.custom-dp{
	background:#3491f9;
	position:absolute;
	width:100%;
	max-width:100%;
	z-index:6;
	transition:300ms ease-in-out 0s;
	visibility:hidden;
	transform:scale(0);
	opacity:0;
	border:none;
}
.custom-dp:after{
	border-bottom: 8px solid #3491f9;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	bottom: 100%;
	content: "";
	position: absolute;
	right: 50%;
	margin-right:-4px;
}
.open-select{
	background:#268b9c;
	position:relative;
	z-index:6;
}
.open-select .custom-dp{
	transform:scale(1);
	opacity:1;
	visibility:visible;
}
.cstmDropdownMenu li a{
	color: #ffffff;
	display: block;
	padding: 6px 12px;
	text-align: center;
}
.cstmDropdownMenu li a:hover{
	background:#266dbb;
}
.cstmDropdown{
	position:relative;
}
.cstmDropdown:before {
	background: #3292f9 none repeat scroll 0 0;
	content: "";
	height: 32px;
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
}
.cstmDropdown:after{
	position:absolute;
	content:"\f107";
	font-family:'FontAwesome';
	top:7px;
	right:12px;
	color:#ffffff;
}
.form-control{
	border:1px solid #cad2d4;
	border-radius:0;
	box-shadow:none;
}
.inputDivider {
	color: #cad2d4;
	display: block;
	font-size: 38px;
	font-weight: normal;
	line-height: 30px;
	text-align: center;
}
.billInfoDiv label{
	font-weight:normal;
}
.inputHld:after,.inputHld:before{
	content:"";
	display:table;
}
.inputHld:after{
	clear:both;
}
.billInfoDiv .inputHld + .inputHld{
	position:relative;
	top:-15px;
}
.billInfoDiv .inputHld:last-child{
	top:0;
}
.filterBtn{
	background:none;
	border-radius:0;
	position:relative;
}
.filterBtn:before{
	content:"";
	position:absolute;
	left:0;
	top:50%;
	margin-top:-8px;
	width:1px;
	height:16px;
	background:#acb6b7;
}
.filterGroup{
	border:2px solid #cad2d4;
}
.filterGroup .form-control{
	border:none;
}
.filterBtn .fa{
	background:#717d7d;
    color: #fff;
    font-size: 12px;
    height: 15px;
    line-height: 14px;
    width: 15px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  /*left: -9999px;*/
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}




/*--[By-VMN]--*/

.main-top-header {
	color: #9B9B9D;
	font-size: 16px;
	border-bottom: 1px solid #000;
	margin-bottom: 02px;
	background: #fff;
	padding:10px;
}
.main-top-header-left {
	float: left;
}
.main-top-header-right {
	float: right;
}
.main-top-header-right-ico {
	float: right;
	margin-left: 15px;
}
.main-inner-left {
	background: #fff;
}
.table {
	margin-bottom: 05px;
}
.table thead tr th {
	font-weight: 600;
	border-bottom: 1px solid #eee;
	font-size: 15px;
	color: #6D6E70;
}
.table tbody tr td, .table tbody tr th {
	border: none;
	color: #707D7D;
}
.crle {
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	width: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.gry {
	background: #8D9697;
}
.org {
	background: #FB6900;
}
.red {
	background: #FF003C;
}
.grn {
	background: #15CC8A;
}
.right-bot-tab {
	width: 100%;
	margin-top:8px;
}
.right-bot-tab .nav li a {
	display: block;
	padding: 02px 20px;
	position: relative;
	font-size: 14px;
	color: #fff;
	margin-right: 0px;
	background: #B3B3B5;
	border-radius: 0px;
	border: 1px solid #fff;
}
a:focus {
	outline: medium none;
	outline-offset: -2px;
}
.right-bot-tab #myTabContent {
	background: #fff;
}
.right-bot-tab .nav-tabs > li.active > a, .right-bot-tab .nav-tabs > li.active > a:hover, .right-bot-tab .nav-tabs > li.active > a:focus {
	background: #ffffff;
	color: #555555;
	margin-top: -6px;
	padding: 5px 20px;
	position: relative;
}
.pro-img {
	width: 45px;
	height: 45px;
	background: #ccc;
	border-radius: 50%;
}
.pro-img img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.siz {
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
}
.right-bot-tab .table tbody tr td, .right-bot-tab .table tbody tr th {
	border: none;
	color: #4d5d5d;
	font-size: 13px;
}
.circleDrop {
	background:#cccccc;
	color: #fff;
	font-size: 26px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	width: 45px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.circleDrop.green{
	background:#15cc8a;
}
.circleDrop.red{
	background:#ff003b;
}

/*--[By-VMN - 21-07-2015]--*/

.role-div {
	background:#3391F9;
	padding:10px 15px;
	color:#fff;
	margin-bottom:1px;
	margin-right:04px;
	text-align:center;
}
.organi-pro-tab {
	padding:15px;
}
.organi-pro-tab-left {
	width:40%;
	height:90px;
	background:#ccc;
	float:left;
}
.organi-pro-tab-left img {
	width:100%;
	height:100%;
}
.organi-pro-tab-right {
	width:58%;
	margin-top:25px;
	float:right;
}
.nel {
	width:100%;
	background:#ccc;
}
.nel .form-control {
	border-radius:0px;
	text-align:center;
	font-size:14px;
}
.organi-pro-tab-bot {
	width:100%;
	margin-top:15px;
}
.btn-col-tab {
	background:#abb7b7;
	color:#fff;
	border-radius:0;
}
.btn-col-tab:hover {
	color:#fff;
}
.organi-pro-tab-bot-bg {
	padding: 0 15px 0px;
}
.organi-pro-tab-bot-bg h4 {
	margin:0px;
	font-size:16px;
	color:#777;
	font-weight:bold;
	padding-bottom:06px;
	border-bottom:1px solid #666;
}
.organi-pro-tab-bot-bg .table {
	margin-bottom:0px;
}
.organi-pro-tab-one {
	padding:15px;
}
.nav-tabs.rogTabs li{
	width:50%;
	text-align:center;
}
/*-------------------22-7-2015----------------------------------*/
.main-form-bg {
	width:100%;
	padding:15px;
	padding-bottom:05px;
	margin-bottom:05px;
}
.main-form-bg-right {
}
.main-form-bg-left {
}
.main-form-bg-right h2 {
	font-size:14px;
	color:#777;
	margin:16px 0 08px;
	font-weight:bold;
	padding-bottom:03px;
	border-bottom:1px solid #ccc;
}
.fro-btn {
	background:#3491f9;
	width:100%;
	color:#fff;
	font-size:14px;
	border-radius:0px;
	font-weight:bold;
	transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear 0s;
}
.fro-btn:hover {
	color:#3491f9;
	background:#fff;
	border:1px solid #3491f9;
}
.main-form-bg .form-control {
	border-radius:0px;
	font-size:13px;
	padding:6px 10px;
}
.main-top-header-rit {
	float: right;
	margin-right:10px;
}
.project-count {
	overflow:auto;
	background-color:#fff;
	margin-bottom:05px;
}
.project-count-outer {
}

.project-count-head {
	padding:10px 15px;
	background:#b3b3b5;
}
.resoursesTablDiv {
  max-height: 310px;
  min-height: 310px;
  overflow: auto;
  padding: 0 10px;
}
.project-count-head .form-control {
	border:1px solid #fff;
}

.project-count-head p {
	margin:3px 0 0;
	color:#fff;
	font-size:13px;
}

.filterBtn-Wht{
	background:none;
	border-radius:0;
	background:#fff;
	position:relative;
}
.filterBtn-Wht:before{
	content:"";
	position:absolute;
	left:0;
	top:50%;
	margin-top:-8px;
	width:1px;
	height:16px;
	background:#acb6b7;
}
.project-count .pro-img{
	height:35px;
	width:35px;
}
.project-count .circleDrop {
	height:35px;
	width:35px;
	line-height:35px;
	font-size:22px;
}
.siz-one {
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
}
.resoursesTablVis{
	/*max-height:230px;
	min-height:230px;*/
	overflow:auto;
	padding:0 10px;
}
.project-count .table td {
	padding:05px 0;
	font-size:12px;
}

/*--28-07-2015--*/

.cstmTableOnlHov > tbody > tr:hover .flipBtn{
	color:#444444;
}
.calenderInput{
	position:relative;
}
.calenderInput .form-control{
	padding:0 32px 0 4px;
}
.caldBtn{
	background:#3292f9;
	color:#ffffff;
	position:absolute;
	right:1px;
	border:none;
	top:1px;
	height:32px;
	width:32px;
}

.datepicker{
	padding:0 !important;
}

.datepicker.dropdown-menu{
	border-radius:0 !important;
	margin-top:10px !important;
}

.datepicker thead tr:nth-child(odd) {
	background-color:#3292f9;
	color:#ffffff !important;
}

.datepicker thead tr:nth-child(even) {
	background-color:#3292f9;
	color:#ffffff !important;
}

.datepicker thead{
	background-color:#3292f9;
	color:#ffffff !important;
}

.datepicker table tr td, .datepicker table tr th{
	border-radius:0 !important;
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{
	background: none !important;
}

.datepicker.dropdown-menu tbody td{
	border:1px solid #d7d7d7 !important;
}
.datepicker.dropdown-menu th, .datepicker.dropdown-menu td{
	padding:4px 10px !important;
}

.project-count-bot{
	background-color:#9b9b9d;
	padding:4px 20px;
}

.project-btns a{
	color:#ffffff;
	font-size:17px;
	margin-left:5px;
}

.project-btns a:hover{
	color:#3292f9;
}
.circleDrop.gray{
	background-color:#717d7d;
}

.pro-img{
	background-color:#717d7d;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.unassigned .job-title{
	color:#3491fb;
}
.filterSubmenu{
	display:none;
	background:#f1f1f3;
	position:absolute;
	padding:10px;
	min-width:180px;
	right:0;
}
.filter-dropdown-open .filterSubmenu{
	display:block;
}
.filterSubmenu li{
	font-size:14px;
}

/*------------------04-08-2015----VN-----------------------------*/

.main-top-header-left-big {
    font-size: x-large;
    color: #777;
    margin: 3px 0;
}

.main-top-header-left-imger {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	/*background: #000;*/
	float: left;
	margin: 05px 05px 0 0;
}

.main-top-header-left-imger img, .main-top-header-R-imger img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.lef {
	float: left;
	padding: 10px 10px 0 0;
}
.task-sml {
	font-size: 13px;
	color: #333;
	font-weight: bold;
}
.task-big {
	font-size: 16px;
}

.main-top-header-R-imger {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #ccc;
	float: left;
	margin: 8px 07px 8px 0;
}
.main-top-header-R-imger a {
	text-align: center;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
	transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
}
.main-top-header-R-imger a:hover {
	color: #000;
}
.task-lst-ul-L ul, .task-lst-ul-R ul {
	margin-bottom: 0;
	padding-left: 0px;
}
.task-lst-ul-L ul li, .task-lst-ul-R ul li {
	display: inline-block;
	text-align: center;
	font-size: 11px;
	width: 70px;
	color: #777;
}
.task-lst-ul-L ul li .files, .task-lst-ul-R ul li .files {
	height: 35px;
	width: 28px;
	background: #ccc;
	margin: 0 20px;
	margin-top: 05px;
}
.task-lst-ul-L ul li .files img, .task-lst-ul-R ul li .files img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.task-lst-ul-L {
	width: 80%;
	float: left;
	margin: 2px 0;
	border-right: 1px solid #ddd;
}
.task-lst-ul-R {
	width: 20%;
	float: right;
	margin: 3px 0;
}
/*---------------06-08-2015 VN------------------------*/
.main-td {
	width: 100%;
}
.main-td .td-top {
	border-bottom: 1px solid #eee;
	padding: 04px 0;
}
.main-td .td-top .inner-one, .main-td .td-bot .inner-one {
	width: 30%;
	float: left;
}
.main-td .td-top .inner-two, .main-td .td-bot .inner-two {
	width: 30%;
	float: left;
}
.main-td .td-top .inner-three, .main-td .td-bot .inner-three {
	width: 25%;
	float: left;
	padding-left: 10px;
}
.main-td .td-top .inner-four, .main-td .td-bot .inner-four {
	width: 15%;
	float: left;
}
.main-td .td-bot {
	padding: 04px 0;
}
.font-grn {
	color: #15cc8a;
}
.font-red {
	color: #ff003c;
}
.font-org {
	color: #fb6900;
}
.circleDrop.org {
	background: #fb6900 none repeat scroll 0 0;
}
.issues-task-div {
	max-height: 468px;
	min-height: 468px;
	overflow: auto;
}
.right-bot-tab .issues-task-table td {
	padding: 2px 10px;
}
.right-bot-tab .issues-task-table tr {
	border-bottom: 1px solid #d7d7d7;
}
.task-lists-table .main-inner-left.edit-task {
	max-height: 450px;
	min-height: 450px;
	overflow: auto;
}
.main-bot-header {
	padding: 6px 10px;
}
.edit-task-btn,.link-task-btn {
	background: none;
	color: #707d7d;
	display: block;
	height: 36px;
	line-height: 36px;
	margin: -8px;
	text-align: center;
	top: 0;
}
.edit-task-btn.cross-icon,.link-task-btn.cross-icon {
	background: #424345;
	color: #ffffff;
}
.edit-task-tr,.tanle-pop-outer {
	background: #424345;
	display: none;
}
.edit-task-open .edit-task-tr {
	display: table-row;
}
.cstmTableOnlHov .edit-task-tr:hover {
	background: #424345 !important;
}
.edit-task-days .form-control {
	display: inline-block;
	margin: 0 10px;
	width: 65px;
}
.edit-task-tr label {
	color: #ffffff;
}
.edit-task-tr .checkbox {
	margin: 6px 0;
}
.cross-icon .fa-cog:before,.cross-icon .fa-link:before  {
	content: "\f00d";
}
.tanle-pop-outer {
	background: #424345;
	left: 100%;
	position: absolute;
	top: 0;
	width: 360px;
	z-index: 3;
}
.link-task-pop {
	padding: 10px 15px;
}
.link-task-pop h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	padding: 0px 20px 10px 0;
	color: #fff;
	text-align: right;
	border-bottom: 1px solid #fff;
}
.link-task-pop-table .table tr td {
	color: #fff;
	font-size: 14px;
	padding: 3px 0px;
}
.link-task-search {
	margin: 05px 0;
}
.link-task-search input {
	height: 30px;
	border-radius: 0px;
	color: #999;
	font-weight: 100;
}
.Lik-task-btn {
	background: #999;
	border: none;
	height: 30px;
	border-radius: 0px;
	color: #fff;
	line-height: 15px;
	border-left: 1px solid transparent;
	transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
}
.Lik-task-btn:hover, .Lik-task-btn:focus {
	color: #999;
	background: #fff;
	border-left: 1px solid #777;
}
.link-task-del {
	background: rgba(0,0,0,0.4);
	color: #fff;
	padding: 05px 16px;
	text-align: right;
	font-size: 16px;
}
.table .table {
	background: none;
}
.edit-task {
	overflow: visible !important;
}

