<div id="box-group-project" class="box-main-project main-content">
    <div class="col-md-8 box-main-content" id="box-project">
        <div class="box box-large" id="box-0">
            <h4 class="box-header round-top">
                <a class="box-btn-link text-muted" title="Filter Project">
                    <img src="/Content/images/grid-filter.png">
                    Filter List
                </a>
                <a class="box-btn" title="maximize" onclick="doResizeBox('#box-project');">
                    <img href=" #" src="/Content/images/box-max-icon.png" />
                </a>
                <a id="add-project-link" class="box-btn-link box-btn-link-right text-muted" title="Add Project">
                    <img src="/Content/images/grid-add.png" />
                    Add Project
                </a>

            </h4>
            <div class="box-container-large">
                <div class="container" id="container-projects">
                    <table class="table table-striped-projects">
                        <thead class="grid-item-title">
                            <tr>
                                <th class="grid-header">Type</th>
                                <th class="grid-header">Project Name</th>
                                <th class="grid-header">Client</th>
                                <th class="grid-header">Start<img src="/Content/images/grid-arrow-down.png"></th>
                                <th class="grid-header">Due<img src="/Content/images/grid-arrow-down.png"></th>
                                <th class="grid-header">Owner<img src="/Content/images/grid-arrow-down.png"></th>
                                <th class="grid-header">Status<img src="/Content/images/grid-arrow-down.png"></th>
                            </tr>
                        </thead>
                        <tbody id="container-projects-tr"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4 box-detail-content" id="box-project-res">
        <div class="box box-large" id="box-1">
            <h4 class="box-header round-top">
                Project Properties
                <a class="box-btn" title="maximize" onclick="doResizeBox('#box-project-dashboard');">
                    <img href=" #" src="/Content/images/box-max-icon.png" />
                </a>
            </h4>
            <div class="box-container-large box-side-content">
                <div class="box-content">
                    <div class="dashboard-todo">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a class="tab-height" href="#status-tab" aria-controls="home" role="tab" data-toggle="tab">Status</a></li>
                            <li role="presentation"><a href="#task-tab" class="tab-height" aria-controls="task-tab" role="tab" data-toggle="tab">Tasks</a></li>
                            <li role="presentation"><a href="#resources-tab" class="tab-height" aria-controls="resources-tab" role="tab" data-toggle="tab">Resources</a></li>
                            <li role="presentation"><a href="#issues-tab" class="tab-height" aria-controls="issues-tab" role="tab" data-toggle="tab">Issues & Risks</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="status-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 column-full">
                                            <table class="chart">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center chartprj-status-title">
                                                            Overall Status
                                                        </th>
                                                        <th class="text-center chartprj-status-title">
                                                            Trend
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center td-divide">
                                                            <img src="/Content/images/chart1.jpg" class="img-circle chart-size">
                                                        </td>
                                                        <td class="text-center td-divide">
                                                            <img src="/Content/images/chart2.jpg" class="img-circle chart-size">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 column-full">
                                            <span class="row-content">
                                                Lorem ipsum dolor sit amet, consectetuer adipicing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 column-full">
                                            <table class="chart">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center chartprj-status-title">
                                                            Schedule Status
                                                        </th>
                                                        <th class="text-center chartprj-status-title">
                                                            Scope Status
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center td-divide">
                                                            <span id="schedulestatus-chart" class="piechart" data-percent="48">
                                                                <span class="percent"></span>
                                                            </span>
                                                        </td>
                                                        <td class="text-center td-divide">
                                                            <span id="scopestatus-chart" class="piechart" data-percent="12">
                                                                <span class="percent"></span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 column-full">
                                            <table class="chart">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center chartprj-status-title">
                                                            Team Status
                                                        </th>
                                                        <th class="text-center chartprj-status-title">
                                                            Budget Status
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center td-divide">
                                                            <span id="teamstatus-chart" class="piechart" data-percent="25">
                                                                <span class="percent"></span>
                                                            </span>
                                                        </td>
                                                        <td class="text-center td-divide">
                                                            <span id="budgetstatus-chart" class="piechart" data-percent="58">
                                                                <span class="percent"></span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="task-tab">
                                <div class="container">
                                    <div class="row">
                                        <img src="/Content/images/chart9.jpg" class="chart-size">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 column-full">
                                            <table class="chart row-divide">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            Total Task Status
                                                        </th>
                                                        <th class="text-center">
                                                            Weekly forecast
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center td-divide">
                                                            <img src="/Content/images/chart7.jpg" alt="..." class="chart-size-ley">
                                                        </td>
                                                        <td class="text-center td-divide">
                                                            <img src="/Content/images/chart8.jpg" alt="..." class="chart-size-ley">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row  grid-item grid-item-title">
                                        <div class="col-md-4 grid-header">Phase / Milestone</div>
                                        <div class="col-md-2 grid-header">Start <span class="glyphicon glyphicon-circle-arrow-down" /></div>
                                        <div class="col-md-2 grid-header">Due <span class="glyphicon glyphicon-circle-arrow-down" /></div>
                                        <div class="col-md-1 text-center grid-header">%</div>
                                        <div class="col-md-3 text-center grid-header">Status</div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-4">Phase 1</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">20%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-1.png">
                                        </div>
                                    </div>
                                    <div class="row grid-item grid-item-alternate">
                                        <div class="col-md-4">Milestone 1</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">70%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-2.png">
                                        </div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-4">Phase 1</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">100%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-3.png">
                                        </div>
                                    </div>
                                    <div class="row grid-item grid-item-alternate">
                                        <div class="col-md-4">Milestone 2</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">10%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-1.png">
                                        </div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-4">Phase 1</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">50%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-2.png">
                                        </div>
                                    </div>
                                    <div class="row grid-item grid-item-alternate">
                                        <div class="col-md-4">Phase 1</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">75%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-3.png">
                                        </div>
                                    </div>
                                    <div class="row grid-item grid-item-alternate">
                                        <div class="col-md-4">Phase 1</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-2">30/01/15</div>
                                        <div class="col-md-1"><span class="percentaje">75%</span></div>
                                        <div class="col-md-3 text-right progress-image-vertical-center">
                                            <img src="/Content/images/grid-task-progress-bar-3.png">
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="resources-tab">
                                <div class="container">
                                    <div class="row grid-item row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">25h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">12</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-1.png" /></div>
                                    </div>
                                    <div class="row grid-item  row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">10h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">15</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-1.png" /></div>
                                    </div>
                                    <div class="row grid-item row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">25h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">12</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-3.png" /></div>
                                    </div>
                                    <div class="row grid-item row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">15h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">20</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-1.png" /></div>
                                    </div>
                                    <div class="row grid-item row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">17h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">12</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-2.png" /></div>
                                    </div>
                                    <div class="row grid-item row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">17h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">12</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-2.png" /></div>
                                    </div>
                                    <div class="row grid-item row-resource">
                                        <div class="col-md-2"><img src="/Content/images/john-avatar.png" /></div>
                                        <div class="col-md-3">John Doe<br> <span class="hours">17h 0m</span></div>
                                        <div class="col-md-4">Total Task <br> <span class="hours">12</span></div>
                                        <div class="col-md-3 progress-image-vertical-center"><img src="/Content/images/grid-resource-ball-2.png" /></div>
                                    </div>
                                    <div class="row grid-item row-title">
                                        Tasks Awaiting Resources
                                    </div>
                                    <div class="row grid-item">
                                        <span class="row-content">
                                            1.1 Navigation <br>
                                            1.2 Left Hand Column <br>
                                            1.3 Top Right <br>
                                            1.4 Review
                                        </span>

                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="issues-tab">
                                <div class="container">
                                    <div class="row grid-item row-risk">
                                        <div class="col-md-2 column-risk"><span class="issue-type">Issue</span><br><span class="risk-green">Open</span></div>
                                        <div class="col-md-4">Significant delay in <br> resource plan</div>
                                        <div class="col-md-4"><span class="mark-type">Type</span> <br>infraestructure</div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-2"><span class="author">Author</span><br><span>Jack Shelphard</span></div>
                                        <div class="col-md-4"><span class="mark-type">Assigned</span> <br> James Ford <br> 11/05/2015</div>
                                        <div class="col-md-4"><span class="mark-type">Deadline</span> <br>11/05/2015</div>
                                        <div class="col-md-2"><img src="/Content/images/risk-ball-1.png" /></div>
                                    </div>
                                    <div class="row grid-item row-risk">
                                        <div class="col-md-2 column-risk"><span class="issue-type">Risk</span><br><span class="risk-red">Open</span></div>
                                        <div class="col-md-4">Significant delay in <br> resource plan</div>
                                        <div class="col-md-4"><span class="mark-type">Type</span> <br>infraestructure</div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-2 "><span class="author">Author</span><br><span>Jack Shelphard</span></div>
                                        <div class="col-md-4"><span class="mark-type">Assigned</span> <br> James Ford <br> 11/05/2015</div>
                                        <div class="col-md-4"><span class="mark-type">Deadline</span> <br>11/05/2015</div>
                                        <div class="col-md-2"><img src="/Content/images/risk-ball-2.png" /></div>
                                    </div>

                                    <div class="row grid-item row-risk">
                                        <div class="col-md-2 column-risk"><span class="issue-type">Risk</span><br><span class="risk-orange">Open</span></div>
                                        <div class="col-md-4"><span class="mark-type">Assigned</span> <br> James Ford <br> 11/05/2015</div>
                                        <div class="col-md-4"><span class="mark-type">Deadline</span> <br>11/05/2015</div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-2"><span class="author">Author</span><br><span>Jack Shelphard</span></div>
                                        <div class="col-md-4"><span class="mark-type">Assigned</span> <br> James Ford <br> 11/05/2015</div>
                                        <div class="col-md-4"><span class="mark-type">Deadline</span> <br>11/05/2015</div>
                                        <div class="col-md-2"><img src="/Content/images/risk-ball-3.png" /></div>
                                    </div>
                                    <div class="row grid-item row-risk">
                                        <div class="col-md-2 column-risk"><span class="issue-type">Issue</span><br><span class="risk-green">Closed</span></div>
                                        <div class="col-md-4">Significant delay in <br> resource plan</div>
                                        <div class="col-md-4"><span class="mark-type">Type</span> <br>infraestructure</div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    <div class="row grid-item">
                                        <div class="col-md-2"><span class="author">Author</span><br><span>Jack Shelphard</span></div>
                                        <div class="col-md-4"><span class="mark-type">Assigned</span> <br> James Ford <br> 11/05/2015</div>
                                        <div class="col-md-4"><span class="mark-type">Deadline</span> <br>11/05/2015</div>
                                        <div class="col-md-2"><img src="/Content/images/risk-ball-1.png" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

