<div id="box-project-add" class="main-content">
    <div class="col-md-8 box-main-content">
        <div id="box-add-project">
            <div class="box">
                <div class="box-header round-top">
                    Project Data
                    <a class="box-btn" title="minimize">
                        <img href=" #" src="/Content/images/box-min-icon.png" />
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="main-inner-left">
                <div class="main-form-bg">
                    <form>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="main-form-bg-left">
                                    <div class="row">   
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Project Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Target Cost">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Target Revenue">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="inputHld cate-sec offset-bot-10">
                                                <a class="form-control cstmDropdown" href="javascript:void(0);">Revenue Basis</a>
                                                <div class="custom-dp">
                                                    <ul class="clean listStyNone cstmDropdownMenu">
                                                        <li><a href="javascript:void(0);">Analyst</a></li>
                                                        <li><a href="javascript:void(0);">Revenue Basis</a></li>
                                                        <li><a href="javascript:void(0);">Programmer</a></li>
                                                        <li><a href="javascript:void(0);">Tester</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Actual Cost">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Actual Revenue">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="main-form-bg-right">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="inputHld cate-sec offset-bot-10">
                                                <a class="form-control cstmDropdown" href="javascript:void(0);">Type</a>
                                                <div class="custom-dp">
                                                    <ul class="clean listStyNone cstmDropdownMenu">
                                                        <li><a href="javascript:void(0);">Internal</a></li>
                                                        <li><a href="javascript:void(0);">External</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="calenderInput">
                                                <input type="text" placeholder="Start Date" class="form-control">
                                                <button type="button" class="caldBtn" id="startDate"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="calenderInput">
                                                <input type="text" placeholder="Start Date" class="form-control">
                                                <button type="button" class="caldBtn" id="endDate"><i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <h2>Leadership Team</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="inputHld cate-sec offset-bot-10">
                                                <a class="form-control cstmDropdown" href="javascript:void(0);">Project Maneger</a>
                                                <div class="custom-dp">
                                                    <ul class="clean listStyNone cstmDropdownMenu">
                                                        <li><a href="javascript:void(0);">Analyst</a></li>
                                                        <li><a href="javascript:void(0);">Project Manager-1</a></li>
                                                        <li><a href="javascript:void(0);">Programmer</a></li>
                                                        <li><a href="javascript:void(0);">Tester</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="inputHld cate-sec offset-bot-10">
                                                <a class="form-control cstmDropdown" href="javascript:void(0);">Sales Rap</a>
                                                <div class="custom-dp">
                                                    <ul class="clean listStyNone cstmDropdownMenu">
                                                        <li><a href="javascript:void(0);">Sales Rap 1</a></li>
                                                        <li><a href="javascript:void(0);">Sales Rap 2</a></li>
                                                        <li><a href="javascript:void(0);">Sales Rap 3</a></li>
                                                        <li><a href="javascript:void(0);">Sales Rap 4</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="inputHld cate-sec offset-bot-10">
                                                <a class="form-control cstmDropdown" href="javascript:void(0);">Sponsor</a>
                                                <div class="custom-dp">
                                                    <ul class="clean listStyNone cstmDropdownMenu">
                                                        <li><a href="javascript:void(0);">Sponsor 1</a></li>
                                                        <li><a href="javascript:void(0);">Sponsor 2</a></li>
                                                        <li><a href="javascript:void(0);">Sponsor 3</a></li>
                                                        <li><a href="javascript:void(0);">Sponsor 4</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="inputHld cate-sec offset-bot-10">
                                                <a class="form-control cstmDropdown" href="javascript:void(0);">Client</a>
                                                <div class="custom-dp">
                                                    <ul class="clean listStyNone cstmDropdownMenu">
                                                        <li><a href="javascript:void(0);">Client 1</a></li>
                                                        <li><a href="javascript:void(0);">Client 2</a></li>
                                                        <li><a href="javascript:void(0);">Client 3</a></li>
                                                        <li><a href="javascript:void(0);">Client 4</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <button type="button" class="btn fro-btn">Submit Project</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="box-task-list">
            <div class="box">
               <div class="box-header round-top">
            Task List
                <a class="box-btn" title="minimize"><img href=" #" src="/Content/images/box-min-icon.png" /></a>
                <a class="box-btn box-btn-link text-muted" title="New Task"><i class="fa fa-plus blueCir"></i>New Task</a>

                <a class="box-btn box-btn-link text-muted" title="New Task"><i class="fa fa-cloud-upload blueCir"></i>Export Plan</a>

                <a class="box-btn box-btn-link text-muted" title="New Task"><i class="fa fa-cloud-download blueCir"></i>Import Plan</a>

                <a class="box-btn box-btn-link text-muted" title="New Task"><i class="fa fa-upload blueCir"></i>Upload Template</a>
            </div>
               <div class="clearfix"></div>
            </div>
            <div class="main-inner-left" id="task-list-table" style="height: 100%; overflow-y:auto">
                <table class="table table-striped cstmTableOnlHov">
                    <thead>
                        <tr>
                            <th style="width:60px;">Task</th>
                            <th style="width:300px;">Title</th>
                            <th style="width:90px;">Start</th>
                            <th style="width:90px;">Due</th>
                            <th style="width:40px; text-align:center;">Days</th>
                            <th style="width:150px; text-align:center;">Owner</th>
                            <th style="width:40px;"></th>
                            <th style="width:40px;"></th>
                            <th style="width:40px;"></th>
                            <th style="width:40px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 <i class="fa fa-caret-down"></i></td>
                            <td>Wire Frame Concepts</td>
                            <td>30/01/2015</td>
                            <td>30/01/2015</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;">John Smitherson</td>
                            <td><i class="fa fa-cog"></i></td>
                            <td><i class="fa fa-indent"></i></td>
                            <td><i class="fa fa-outdent"></i></td>
                            <td><i class="fa fa-link"></i></td>
                        </tr>
                        <tr>
                            <td>1.2</td>
                            <td>Navigation</td>
                            <td>30/01/2015</td>
                            <td>30/01/2015</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;">John Smitherson</td>
                            <td><i class="fa fa-cog"></i></td>
                            <td><i class="fa fa-indent"></i></td>
                            <td><i class="fa fa-outdent"></i></td>
                            <td><i class="fa fa-link"></i></td>
                        </tr>
                        <tr>
                            <td>1.3</td>
                            <td>Left Hand Column</td>
                            <td>30/01/2015</td>
                            <td>30/01/2015</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;">John Smitherson</td>
                            <td><i class="fa fa-cog"></i></td>
                            <td><i class="fa fa-indent"></i></td>
                            <td><i class="fa fa-outdent"></i></td>
                            <td><i class="fa fa-link"></i></td>
                        </tr>
                        <tr>
                            <td>1.4</td>
                            <td>Top Right</td>
                            <td>30/01/2015</td>
                            <td>30/01/2015</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;">John Smitherson</td>
                            <td><i class="fa fa-cog"></i></td>
                            <td><i class="fa fa-indent"></i></td>
                            <td><i class="fa fa-outdent"></i></td>
                            <td><i class="fa fa-link"></i></td>
                        </tr>
                        <tr>
                            <td>1.5</td>
                            <td>Review</td>
                            <td>30/01/2015</td>
                            <td>30/01/2015</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;">John Smitherson</td>
                            <td><i class="fa fa-cog"></i></td>
                            <td><i class="fa fa-indent"></i></td>
                            <td><i class="fa fa-outdent"></i></td>
                            <td><i class="fa fa-link"></i></td>
                        </tr>
                        <tr>
                            <td>1.6</td>
                            <td>Wire Frame Concepts</td>
                            <td>30/01/2015</td>
                            <td>30/01/2015</td>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;">John Smitherson</td>
                            <td><i class="fa fa-cog"></i></td>
                            <td><i class="fa fa-indent"></i></td>
                            <td><i class="fa fa-outdent"></i></td>
                            <td><i class="fa fa-link"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4 box-detail-content">
        <div class="box">
            <div class="box-header round-top">
                All Resources
                <a class="box-btn" title="minimize">
                    <img href=" #" src="/Content/images/box-min-icon.png" />
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="project-count-outer box-large">
                <div class="project-count-head">
                    <div class="input-group filterGroup">
                        <input type="hidden" id="search_param" value="all" name="search_param">
                        <input type="text" placeholder="Leader..." name="x" class="form-control">
                        <div class="input-group-btn search-panel">
                            <button class="btn filterBtn filterBtn-Wht" type="button"> <span id="search_concept">Filter</span> <i class="fa fa-angle-down"></i> </button>
                            <ul class="filterSubmenu">
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" name="checkbox" id="checkbox1" value="checkbox1">
                                        <label for="checkbox1">Current Project Team</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" name="checkbox" id="checkbox2" value="checkbox2">
                                        <label for="checkbox2">All Company Resource</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" name="checkbox" id="checkbox3" value="option3">
                                        <label for="checkbox3">External Contacts</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" name="checkbox" id="checkbox4" value="option4">
                                        <label for="checkbox4">Job Title</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" name="checkbox" id="checkbox5" value="option5">
                                        <label for="checkbox5">Location</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <input type="checkbox" name="checkbox" id="checkbox6" value="option6">
                                        <label for="checkbox6">Under Assigned</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-col-tab"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    <p>Project msg, Under allocated, Internal</p>
                </div>
                    
                <div class="project-count">
                        <div class="resoursesTablVis">
                            <table class="table resourcesTable">
                                <tbody>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop red"><i class="fa fa-angle-double-up"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header round-top">
                            Project Team
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="project-count">
                        <div class="resoursesTablVis">
                            <table class="table resourcesTable">
                                <tbody>
                                    <tr class="unassigned">
                                        <td style="width:70px;"><div class="pro-img"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">Unassigned</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop gray"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop red"><i class="fa fa-angle-double-up"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px;"><div class="pro-img"><img alt="" src="/Content/images/avtar.png"></div></td>
                                        <td style="width:155px;">
                                            <span class="siz-one">John Doe</span><br>
                                            <span class="job-title">Project Manager</span>
                                        </td>
                                        <td style="width:135px;">
                                            <span class="siz-one">Project</span><br>
                                            12
                                        </td>
                                        <td style="width:60px;"><div class="circleDrop green"><i class="fa fa-angle-double-down"></i></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="project-count-bot clearfix">
                        <div class="pull-right project-btns">
                            <a href="#"><i class="fa fa-plus-circle"></i></a>
                            <a href="#"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
        <div class="clearfix"></div>
    </div>
</div>