<div id="box-project-tasks" class="main-content">
    <div class="col-md-8 box-main-content">
        <div id="box-add-project">
            <div class="box">
                <div class="box-header box-task-header round-top">
                    <div class=box-task-header-text-big>Project 5</div>
                    <a class="box-btn" title="maximize" style="margin-top:10px;">
                        <img href=" #" src="/Content/images/box-max-icon.png" />
                    </a>
                    <div class="main-top-header-right">
                        <a href="#" class="blueCirBtn lef">Project Team</a>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                        <div class="main-top-header-left-imger"><img alt="" src="/Content/images/john.png"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="box-container-large">
                <table class="table table-striped-tasks">
                        <thead>
                            <tr>
                                <th class="grid-header">Task</th>
                                <th class="grid-header">Title</th>
                                <th class="grid-header">Start <a href="#" class="thBtn"><i class="fa fa-angle-down"></i></a></th>
                                <th class="grid-header">Due <a href="#" class="thBtn"><i class="fa fa-angle-down"></i></a></th>
                                <th class="grid-header">Owner <a href="#" class="thBtn"><i class="fa fa-angle-down"></i></a></th>
                                <th class="grid-header">%</th>
                                <th class="grid-header">Complete</th>
                                <th class="grid-header">Status <a href="#" class="thBtn"><i class="fa fa-angle-down"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;">1 <i class="fa fa-angle-down"></i></td>
                                <td>Wire Frame Concepts</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">0%</td>
                                <td style="font-weight:bold;">|</td>
                                <td class="text-center"><span class="crle gry"><i class="fa fa-arrow-right"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.1</td>
                                <td>Navigations</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">70%</td>
                                <td style="font-weight:bold;">|||||||</td>
                                <td class="text-center"><span class="crle org"><i class="fa fa-ban"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.2</td>
                                <td>Left Hand Column</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">100%</td>
                                <td style="font-weight:bold;">||||||||||</td>
                                <td class="text-center"><span class="crle red"><i class="fa fa-exclamation"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.3</td>
                                <td>Top Rights</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">0%</td>
                                <td>|</td>
                                <td class="text-center"><span class="crle grn"><i class="fa fa-check"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.4</td>
                                <td>Review</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">0%</td>
                                <td style="font-weight:bold;">|</td>
                                <td class="text-center"><span class="crle gry"><i class="fa fa-close"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.5</td>
                                <td>Creat Wire Frame</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">60%</td>
                                <td style="font-weight:bold;">||||||</td>
                                <td class="text-center"><span class="crle org"><i class="fa fa-arrow-right"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">2</td>
                                <td>GUI Design</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">20%</td>
                                <td style="font-weight:bold;">||</td>
                                <td class="text-center"><span class="crle red"><i class="fa fa-paperclip"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">3</td>
                                <td>Implementions</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">60%</td>
                                <td style="font-weight:bold;">||||||</td>
                                <td class="text-center"><span class="crle grn"><i class="fa fa-close"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">4</td>
                                <td>Testing & Review</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">50%</td>
                                <td style="font-weight:bold;">|||||</td>
                                <td class="text-center"><span class="crle gry"><i class="fa fa-arrow-right"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">5</td>
                                <td>Final Amends</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">100%</td>
                                <td style="font-weight:bold;">||||||||||</td>
                                <td class="text-center"><span class="crle org"><i class="fa fa-paperclip"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.1</td>
                                <td>Wire Frame Concepts</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">100%</td>
                                <td style="font-weight:bold;">||||||||||</td>
                                <td class="text-center"><span class="crle red"><i class="fa fa-paperclip"></i></span></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">1.2</td>
                                <td>Navigation</td>
                                <td>30/01/15</td>
                                <td>30/01/15</td>
                                <td>John Smitherson</td>
                                <td style="text-align:center; font-weight:bold;">65%</td>
                                <td style="font-weight:bold;">|||||||</td>
                                <td class="text-center"><span class="crle grn"><i class="fa fa-paperclip"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

    <div class="col-md-4 box-detail-content">
        <div class="box">
            <div class="box-header box-task-header round-top">
                <span class="task-sml">Task 1.5</span><br /><span class="task-big"> Create Wire Frames</span>
                <a class="box-btn" title="maximize">
                    <img href=" #" src="/Content/images/box-max-icon.png" />
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="task-view-right">
            <div class="task-view-right-section">
                <div class="task-view-right-header">
                    <div class="task-view-right-header-L">
                        <i class="fa fa-sort"></i> Resources
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="task-view-right-header-R-inner task-view-right-section-content">
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><img alt="" src="/Content/images/john.png"></div>
                    <div class="main-top-header-R-imger"><a href="#"><span>+3</span></a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="task-view-right-section">
                <div class="task-view-right-header">
                    <div class="task-view-right-header-L">
                        <i class="fa fa-sort"></i> Attachments
                    </div>
                    <div class="task-view-right-header-R">
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-list"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="task-view-right-header-R-inner task-view-right-section-content">
                    <div class="task-lst-ul-L">
                        <ul>
                            <li><div class="files"><img alt="" src="/Content/images/file01.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file02.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file03.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file04.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file06.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file07.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file08.png"></div>User Guide</li>
                            <li><div class="files"><img alt="" src="/Content/images/file09.png"></div>User Guide</li>
                        </ul>
                    </div>
                    <div class="task-lst-ul-R">
                        <ul>
                            <li><div class="files"><img alt="" src="/Content/images/file05.png"></div>ADD</li>
                            <li><div class="files"><img alt="" src="/Content/images/file10.png"></div></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="task-view-right-section">
                <div class="task-view-right-header">
                    <div class="task-view-right-header-L">
                        <i class="fa fa-sort"></i> Notes
                    </div>
                    <div class="task-view-right-header-R">
                        <a href="#"><i class="fa fa-plus"></i> Add Note</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="task-view-notes task-view-right-section-content">
                    <p><span>Michael Imperioli</span> - Wireframing all main pages to present to client. wireframing to be completed in Power Point</p>
                    <p><span>Michael Imperioli</span> - Wireframing all main pages to present to client. wireframing to be completed in Power Point</p>
                    <p><span>Michael Imperioli</span> - Wireframing all main pages to present to client. wireframing to be completed in Power Point</p>
                    <p><span>Michael Imperioli</span> - Wireframing all main pages to present to client. wireframing to be completed in Power Point</p>
                    <p><span>Michael Imperioli</span> - Wireframing all main pages to present to client. wireframing to be completed in Power Point</p>
                </div>
            </div>
            <div class="task-view-right-section">
                <div class="task-view-right-header">
                    <div class="task-view-right-header-L">
                        <i class="fa fa-sort"></i> Discussions
                    </div>
                    <div class="task-view-right-header-R">
                        <a href="#"><i class="fa fa-plus"></i> Join Disk</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="task-view-right-media task-view-right-section-content">
                    <row>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img src="/Content/images/john.png" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <span>John :</span> Wireframing all main pages to present to client. Wireframing all main pages to present to client.
                            </div>
                        </div>
                    </row>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="/Content/images/john.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p><span>John :</span> Wireframing all main pages to present to client. Wireframing all main pages to present to client.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="/Content/images/john.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p><span>John :</span> Wireframing all main pages to present to client. Wireframing all main pages to present to client.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="/Content/images/john.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p><span>John :</span> Wireframing all main pages to present to client. Wireframing all main pages to present to client.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="/Content/images/john.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <p><span>John :</span> Wireframing all main pages to present to client. Wireframing all main pages to present to client.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-view-right-section">
                <div class="task-view-right-header">
                    <div class="task-view-right-header-L">
                        <i class="fa fa-sort"></i> Predecessors
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="task-view-right-d task-view-right-section-content">
                    <p>1.1 <span class="mar-left">Navigations</span></p>
                    <p>1.2 <span class="mar-left">Left Hand Column</span></p>
                    <p>1.3 <span class="mar-left">Top Rights</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
