<div id="box-group-admin" class="main-content">
    <div class="col-md-8 box-main-content" id="box-admin">
        <div class="box box-large">
            <div class="box-header round-top">
                Users
                <a class="box-btn" title="maximize">
                    <img href=" #" src="/Content/images/box-max-icon.png" />
                </a>
                <a id="user-filter-list" class="box-btn box-btn-link text-muted" title="Filter List">
                    <img src="/Content/images/grid-filter.png" />
                    Filter List
                </a>
            </div>
            <div class="search-bar">
                <div class="input-group" style="width:100%;">
                    <input id="user-filter-text" type="text" placeholder="Filter users ..." class="form-control">
                    <!--<span class="input-group-btn">
                        <button type="button" class="btn btn-default">Go!</button>
                    </span>-->
                </div>
            </div>
            <div class="box-container-large">
                <div class="container" id="container-users">
                    <table class="table table-striped-user">
                        <thead class="grid-item-title">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>User ID</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody id="container-users-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 box-detail-content" id="box-admin-res">
    </div>
</div>

